.pokedex {
  margin: 1rem;
  width: 100%;
  height: 100%;
}

.pokedex-title {
  text-align: center;
  color: #2d4059;
}

.pokemens-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
